.page_title {
  font-size: var(--font-size-header);
  display: flex;
}

.pair_logo_1 {
  border-radius: 50%;
  margin-left: 8px;
  width: 28px;
  height: 28px;
}

.pair_logo_2 {
  border-radius: 50%;
  width: 28px;
  height: 28px;
}
