.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
}

.main {
  min-width: 240px;
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.select_container {
  width: 200px;
}
